body {
  overflow: hidden;
  margin: 0; }

body canvas {
  position: absolute; }

#loading_screen * {
  transition: opacity 1s; }

#loading_back_wrap {
  z-index: 15;
  width: 100%;
  height: 100%;
  position: absolute; }

#loading_canvas {
  width: 100%;
  z-index: 15;
  position: absolute;
  filter: grayscale(1);
  background-image: url(../img/loading.jpg);
  background-size: cover;
  opacity: 0; }

#loading_canvas.active {
  opacity: 1; }

#big_logo {
  position: fixed;
  width: 100%;
  top: -5%;
  opacity: 0;
  transition: opacity 1s; }

#big_logo.up {
  z-index: 200000;
  opacity: 1; }

#loader {
  position: fixed;
  background: #fff;
  width: 100%;
  height: 100%;
  transition: opacity 3s ease 2s, background-color 1s;
  z-index: 200050; }

.screen_center {
  position: fixed;
  top: 45%;
  left: 48%;
  transition: opacity 1s ease 2s, color 1s;
  opacity: 1;
  color: #222;
  z-index: 200055; }

#loading_percent {
  transition: opacity 3s; }

#click_anywhere {
  position: fixed;
  top: 83%;
  left: 45%;
  opacity: 0;
  z-index: 1;
  transition: opacity 1s; }

#main_screen {
  position: absolute;
  width: 100%;
  height: 100%; }
  #main_screen img {
    position: fixed;
    transition: opacity 1s; }
  #main_screen .up {
    opacity: 1 !important; }
  #main_screen #main_text, #main_screen #main_logo {
    position: fixed;
    z-index: 20;
    opacity: 0; }
  #main_screen #main_image {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0; }
  #main_screen #main_text {
    width: 100%;
    top: -7%; }
  #main_screen #main_text_shadow {
    z-index: 19;
    opacity: 0;
    width: 38%;
    top: 41%;
    left: 31%; }

@keyframes tri-back {
  100% {
    transform: translate(0, 0) rotate(0deg); } }

@keyframes noise-anim {
  50% {
    clip: rect(32vh, 9999px, 46vh, 0);
    left: 3%;
    top: 1%;
    filter: brightness(2) saturate(4);
    transform: scale(1.1); }
  51% {
    left: -2%;
    top: 0%; }
  52% {
    left: 1%;
    top: -1%; }
  53% {
    left: 3%;
    top: 1%; }
  54% {
    left: 1%;
    top: 1%; }
  55% {
    left: -1%;
    top: -1%; }
  56% {
    left: 0%;
    top: -1%; }
  57% {
    left: -1%;
    top: 0%; }
  58% {
    left: 0%;
    top: -1%; }
  59% {
    left: 2%;
    top: -1%; }
  60% {
    left: -2%;
    top: 0%; }
  61% {
    clip: rect(0, 0, 0, 0); }
  65% {
    clip: rect(50vh, 9999px, 58vh, 0);
    left: 3%;
    top: -1%;
    filter: brightness(5) saturate(1);
    transform: scale(1.1); }
  66% {
    left: -1%;
    top: 0%; }
  67% {
    left: -1%;
    top: -1%; }
  68% {
    left: 1%;
    top: 1%; }
  69% {
    left: 2%;
    top: -1%; }
  70% {
    left: 1%;
    top: 1%; }
  71% {
    clip: rect(0, 0, 0, 0); }
  72% {
    clip: rect(56vh, 9999px, 66vh, 0);
    left: 2%;
    top: -1%;
    filter: brightness(3) saturate(5);
    transform: scale(1.3); }
  73% {
    left: 1%;
    top: 0%; }
  74% {
    left: 3%;
    top: -1%; }
  75% {
    left: 1%;
    top: 0%; }
  76% {
    left: -1%;
    top: -1%; }
  77% {
    left: -1%;
    top: 0%; }
  78% {
    left: 2%;
    top: 0%; }
  79% {
    left: 2%;
    top: 1%; }
  80% {
    clip: rect(0, 0, 0, 0); }
  85% {
    clip: rect(68vh, 9999px, 83vh, 0);
    left: 3%;
    top: -2%;
    filter: brightness(4) saturate(2);
    transform: scale(1.3); }
  85% {
    left: 0%;
    top: -1%; }
  86% {
    left: 3%;
    top: 0%; }
  87% {
    left: 1%;
    top: -1%; }
  88% {
    left: -1%;
    top: -1%; }
  89% {
    left: 1%;
    top: 0%; }
  90% {
    clip: rect(0, 0, 0, 0); }
  95% {
    clip: rect(99vh, 9999px, 104vh, 0);
    left: 3%;
    top: 0%;
    filter: brightness(4) saturate(5);
    transform: scale(1.2); }
  96% {
    left: 3%;
    top: 1%; }
  97% {
    left: -1%;
    top: 0%; }
  98% {
    left: 1%;
    top: 1%; }
  99% {
    left: 3%;
    top: 1%; }
  100% {
    clip: rect(0, 0, 0, 0); } }

@keyframes noise-anim-2 {
  50% {
    clip: rect(34vh, 9999px, 41vh, 0);
    left: 1%;
    top: 1%;
    filter: brightness(2) saturate(2);
    transform: scale(1.2); }
  51% {
    left: 3%;
    top: 1%; }
  52% {
    left: 1%;
    top: 1%; }
  53% {
    left: -1%;
    top: 1%; }
  54% {
    left: 0%;
    top: -1%; }
  55% {
    left: 0%;
    top: -1%; }
  56% {
    left: 1%;
    top: 0%; }
  57% {
    left: -2%;
    top: 0%; }
  58% {
    left: -1%;
    top: -1%; }
  59% {
    clip: rect(0, 0, 0, 0); }
  62% {
    clip: rect(53vh, 9999px, 60vh, 0);
    left: 2%;
    top: -2%;
    filter: brightness(1) saturate(2);
    transform: scale(1.1); }
  69% {
    clip: rect(0, 0, 0, 0); }
  75% {
    clip: rect(91vh, 9999px, 95vh, 0);
    left: 1%;
    top: 0%;
    filter: brightness(2) saturate(3);
    transform: scale(1.1); }
  75% {
    left: -1%;
    top: 1%; }
  76% {
    left: 0%;
    top: 1%; }
  77% {
    left: 2%;
    top: 1%; }
  78% {
    left: -1%;
    top: 0%; }
  79% {
    left: -2%;
    top: -1%; }
  80% {
    left: 0%;
    top: 0%; }
  81% {
    clip: rect(0, 0, 0, 0); }
  90% {
    clip: rect(94vh, 9999px, 106vh, 0);
    left: -2%;
    top: 2%;
    filter: brightness(5) saturate(3);
    transform: scale(1.3); }
  91% {
    left: 1%;
    top: 1%; }
  92% {
    left: 1%;
    top: -1%; }
  93% {
    left: 0%;
    top: 0%; }
  94% {
    left: -2%;
    top: 0%; }
  95% {
    clip: rect(0, 0, 0, 0); }
  100% {
    clip: rect(4vh, 9999px, 6vh, 0);
    left: 3%;
    top: -2%;
    filter: brightness(1) saturate(4);
    transform: scale(1.1); } }

@keyframes noise-anim-3 {
  50% {
    clip: rect(0, 0, 0, 0); }
  65% {
    clip: rect(33vh, 9999px, 42vh, 0);
    left: -2%;
    top: 2%;
    filter: brightness(5) saturate(5);
    transform: scale(1.3); }
  66% {
    left: 3%;
    top: -1%; }
  67% {
    left: 1%;
    top: 0%; }
  68% {
    left: 1%;
    top: -1%; }
  69% {
    left: -1%;
    top: 1%; }
  70% {
    left: -1%;
    top: 0%; }
  71% {
    left: 3%;
    top: 1%; }
  72% {
    left: -2%;
    top: 1%; }
  73% {
    left: -2%;
    top: -1%; }
  74% {
    left: 2%;
    top: -1%; }
  75% {
    clip: rect(0, 0, 0, 0); }
  80% {
    clip: rect(48vh, 9999px, 49vh, 0);
    left: 2%;
    top: -1%;
    filter: brightness(4) saturate(5);
    transform: scale(1.2); }
  81% {
    clip: rect(0, 0, 0, 0); }
  87% {
    clip: rect(29vh, 9999px, 40vh, 0);
    left: 3%;
    top: 1%;
    filter: brightness(5) saturate(1);
    transform: scale(1.2); }
  89% {
    clip: rect(0, 0, 0, 0); }
  92% {
    clip: rect(90vh, 9999px, 102vh, 0);
    left: -2%;
    top: 1%;
    filter: brightness(4) saturate(2);
    transform: scale(1.1); }
  95% {
    clip: rect(0, 0, 0, 0); }
  97% {
    clip: rect(5vh, 9999px, 9vh, 0);
    left: -2%;
    top: 3%;
    filter: brightness(5) saturate(2);
    transform: scale(1.2); }
  100% {
    clip: rect(0, 0, 0, 0); } }

@keyframes slides-1 {
  0% {
    visibility: visible; }
  33.3% {
    visibility: hidden; }
  100% {
    visibility: hidden; } }

@keyframes slides-2 {
  0% {
    visibility: hidden; }
  33.3% {
    visibility: visible; }
  66.6% {
    visibility: hidden; }
  100% {
    visibility: hidden; } }

@keyframes slides-3 {
  0% {
    visibility: hidden; }
  66.6% {
    visibility: visible; }
  100% {
    visibility: hidden; } }

html, body {
  height: 100%;
  color: #fff;
  font-family: Tahoma; }

h1 {
  font-weight: normal;
  text-transform: uppercase;
  text-align: center;
  position: absolute; }

.fone-slider {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: lightblue;
  transition: opacity 1s; }

.fone-slide {
  visibility: hidden;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden; }
  .fone-slide:nth-child(1) {
    animation: 18s slides-1 infinite step-end; }
  .fone-slide:nth-child(2) {
    animation: 18s slides-2 infinite step-end; }
  .fone-slide:nth-child(3) {
    animation: 18s slides-3 infinite step-end; }

.fone-slide__img, .fone-slide__glitch {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: top center; }

.fone-slide__glitch {
  clip: rect(0, 0, 0, 0);
  opacity: .5; }

.fone-slide__img {
  filter: grayscale(1); }
  .fone-slide__img--first, .fone-slide__img--first ~ .fone-slide__glitch {
    background-image: url(../img/loadingC.jpg); }
  .fone-slide__img--second, .fone-slide__img--second ~ .fone-slide__glitch {
    background-image: url(../img/loadingC.jpg); }
  .fone-slide__img--third, .fone-slide__img--third ~ .fone-slide__glitch {
    background-image: url(../img/loadingC.jpg); }

.fone-slide__glitch:nth-child(2) {
  animation: 6s noise-anim infinite step-end; }

.fone-slide__glitch:nth-child(3) {
  animation: 6s noise-anim-2 infinite step-end; }

.fone-slide__glitch:nth-child(4) {
  animation: 6s noise-anim-3 infinite step-end; }
